<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>提交小程序代码</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-tab-content">
    <form class="layui-form layui-form-pane" action="" lay-filter="commitCode">
        <div class="layui-form-item">
            <label class="layui-form-label">小程序名称</label>
            <div class="layui-input-inline">
                <input type="text" readonly="readonly" name="wxAppName" id="wxAppName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">反馈内容</label>
            <div class="layui-input-block">
                <input type="text" name="feedbackInfo" autocomplete="off" lay-verify="required" placeholder="请输入反馈内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">反馈图片</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test2">多图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" id="demo2"></div>
                </blockquote>
            </div>
        </div>
        <button id="addDepartment" class="layui-btn" lay-filter="formVerify" lay-submit="" style="display: none">添加
        </button>
    </form>
</div>
<script src="/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script th:inline="javascript">
    layui.use(['form'], function () {
        //监听提交
        layui.form.on('submit(formVerify)', function (data) {
            var btn = $(this);
            btn.attr({"disabled":"disabled"});
            var submitData = data.field;
            submitData.acid=[[${acid}]];
            submitData.wxAppAcId = [[${wxApp.acid}]];
            console.log(submitData);
            $.ajax({
                url: '/wxapp/submitCode',
                dataType: 'json',
                contentType: "application/json",
                type: 'post',
                data: JSON.stringify(submitData),
                success: function (resultData) {
                    var page = parent;
                    if (resultData.code == 0) {
                        layer.msg('操作成功', {
                            icon: 1,
                            time: 2000
                        }, function(){
                            var index = page.layer.getFrameIndex(window.name);
                            page.layer.close(index);
                            window.parent.location.reload();
                        });
                    } else {
                        console.log(111);
                        page.layer.msg(resultData.message, {
                            icon: 2,
                            time: 2000
                        }, function () {
                            btn.attr("disabled", false);
                        });
                    }
                }
            });

            return false;
        });
        layui.form.val('commitCode', {
            "wxAppName": [[${wxApp.name}]]
        })
    });
</script>
</body>
</html>