<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>提交小程序代码</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-tab-content">
    小程序名称：<label id="wxAppName"></label>
    <input type="hidden" name="wxAppAcid" id="wxAppAcid">
</div>
<div class="layui-body layui-tab-content site-demo site-demo-body">
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">反馈内容</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" lay-verify="required" placeholder="请输入反馈内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">反馈图片</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test2">多图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" id="demo2"></div>
                </blockquote>
            </div>
        </div>
    </form>
</div>
<script src="/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script th:inline="javascript">
    layui.use(['form'], function () {
        //监听提交
        layui.form.on('submit(formVerify)', function (data) {
            $.ajax({
                url: '/wxapp/submitCode',
                dataType: 'json',
                contentType: "application/json",
                type: 'post',
                data: data.field,
                success: function (resultData) {
                    //console.log(resultData);
                    //var jsonData = JSON.parse(resultData);
                    if (resultData.code == 0) {
                        layer.msg('操作成功', {
                            icon: 1,
                            time: 2000
                        });
                        var index = layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        layer.close(index);
                    } else {
                        submitCount = 0;
                        layer.alert(resultData.message, {
                            title: '错误提示'
                        })
                    }
                }
            });

            return false;
        });
    });
</script>
</body>
</html>