<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.loftown.wechat.app.code.dao.lf.AppointmentConfigDao">
    <resultMap id="BaseResultMap" type="cn.loftown.wechat.app.code.dto.lf.AppointmentConfigDTO">
        <id column="acid" jdbcType="INTEGER" property="acid"/>
        <result column="uniacid" jdbcType="INTEGER" property="uniacid"/>
        <result column="autoConfirm" jdbcType="BIT" property="autoConfirm"/>
        <result column="lastTime" jdbcType="VARCHAR" property="lastTime"/>
        <result column="langDay" jdbcType="VARCHAR" property="langDay"/>
        <result column="cancelTime" jdbcType="TIMESTAMP" property="cancelTime"/>
        <result column="appointmentConfig" jdbcType="VARCHAR" property="appointmentConfig"/>
        <result column="updateUser" jdbcType="INTEGER" property="updateUser"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="createUser" jdbcType="INTEGER" property="createUser"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lf_4s_appointment_config
    where acid = #{acid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.loftown.wechat.app.code.dto.lf.AppointmentConfigDTO">
    insert into lf_4s_appointment_config (acid, uniacid, autoConfirm,
      lastTime, langDay, cancelTime,
      appointmentConfig, updateUser, updateTime,
      `createUser`, createTime)
    values (#{acid,jdbcType=INTEGER}, #{uniacid,jdbcType=INTEGER}, #{autoConfirm,jdbcType=BIT},
      #{lastTime,jdbcType=VARCHAR}, #{langDay,jdbcType=VARCHAR}, #{cancelTime,jdbcType=TIMESTAMP},
      #{appointmentConfig,jdbcType=VARCHAR}, #{updateUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
      #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.loftown.wechat.app.code.dto.lf.AppointmentConfigDTO">
    update lf_4s_appointment_config
    set uniacid = #{uniacid,jdbcType=INTEGER},
      autoConfirm = #{autoConfirm,jdbcType=BIT},
      lastTime = #{lastTime,jdbcType=VARCHAR},
      langDay = #{langDay,jdbcType=VARCHAR},
      cancelTime = #{cancelTime,jdbcType=TIMESTAMP},
      appointmentConfig = #{appointmentConfig,jdbcType=VARCHAR},
      updateUser = #{updateUser,jdbcType=INTEGER},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      `createUser` = #{createUser,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where acid = #{acid,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select acid, uniacid, autoConfirm, lastTime, langDay, cancelTime, appointmentConfig,
    updateUser, updateTime, `createUser`, createTime
    from lf_4s_appointment_config
    where acid = #{acid,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select acid, uniacid, autoConfirm, lastTime, langDay, cancelTime, appointmentConfig,
    updateUser, updateTime, `createUser`, createTime
    from lf_4s_appointment_config
  </select>
</mapper>