<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.loftown.wechat.app.code.dao.lf.AppointmentOrderDTO">
    <resultMap id="BaseResultMap" type="cn.loftown.wechat.app.code.dto.lf.AppointmentOrderDTO">
        <id column="acid" jdbcType="INTEGER" property="acid" />
        <result column="uniacid" jdbcType="INTEGER" property="uniacid" />
        <result column="userid" jdbcType="INTEGER" property="userid" />
        <result column="orderStatus" jdbcType="SMALLINT" property="orderStatus" />
        <result column="contactName" jdbcType="VARCHAR" property="contactName" />
        <result column="contactMobile" jdbcType="VARCHAR" property="contactMobile" />
        <result column="mileage" jdbcType="INTEGER" property="mileage" />
        <result column="carTypeName" jdbcType="VARCHAR" property="carTypeName" />
        <result column="carNumber" jdbcType="VARCHAR" property="carNumber" />
        <result column="appointmentTime" jdbcType="TIMESTAMP" property="appointmentTime" />
        <result column="cancelType" jdbcType="SMALLINT" property="cancelType" />
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
        <result column="confirmTime" jdbcType="TIMESTAMP" property="confirmTime" />
        <result column="finishTime" jdbcType="TIMESTAMP" property="finishTime" />
        <result column="cancelAdminUser" jdbcType="INTEGER" property="cancelAdminUser" />
        <result column="confirmAdminUser" jdbcType="INTEGER" property="confirmAdminUser" />
        <result column="finishAdminUser" jdbcType="INTEGER" property="finishAdminUser" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lf_4s_appointment_order
    where acid = #{acid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.loftown.wechat.app.code.dto.lf.AppointmentOrderDTO">
    insert into lf_4s_appointment_order (acid, uniacid, userid,
      orderStatus, contactName, contactMobile,
      mileage, carTypeName, carNumber,
      appointmentTime, cancelType, createTime,
      confirmTime, finishTime, cancelAdminUser,
      confirmAdminUser, finishAdminUser, updateTime
      )
    values (#{acid,jdbcType=INTEGER}, #{uniacid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
      #{orderStatus,jdbcType=SMALLINT}, #{contactName,jdbcType=VARCHAR}, #{contactMobile,jdbcType=VARCHAR},
      #{mileage,jdbcType=INTEGER}, #{carTypeName,jdbcType=VARCHAR}, #{carNumber,jdbcType=VARCHAR},
      #{appointmentTime,jdbcType=TIMESTAMP}, #{cancelType,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP},
      #{confirmTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{cancelAdminUser,jdbcType=INTEGER},
      #{confirmAdminUser,jdbcType=INTEGER}, #{finishAdminUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.loftown.wechat.app.code.dto.lf.AppointmentOrderDTO">
    update lf_4s_appointment_order
    set
        <if test="orderStatus != null">
          orderStatus = #{orderStatus,jdbcType=SMALLINT},
        </if>
        <if test="contactName != null">
          contactName = #{contactName,jdbcType=VARCHAR},
        </if>
        <if test="contactMobile != null">
          contactMobile = #{contactMobile,jdbcType=VARCHAR},
        </if>
        <if test="mileage != null">
          mileage = #{mileage,jdbcType=INTEGER},
        </if>
        <if test="carTypeName != null">
          carTypeName = #{carTypeName,jdbcType=VARCHAR},
        </if>
        <if test="carNumber != null">
          carNumber = #{carNumber,jdbcType=VARCHAR},
        </if>
        <if test="appointmentTime != null">
          appointmentTime = #{appointmentTime,jdbcType=TIMESTAMP},
        </if>
        <if test="cancelType != null">
          cancelType = #{cancelType,jdbcType=SMALLINT},
        </if>
        <if test="confirmTime != null">
          confirmTime = #{confirmTime,jdbcType=TIMESTAMP},
        </if>
        <if test="finishTime != null">
          finishTime = #{finishTime,jdbcType=TIMESTAMP},
        </if>
        <if test="cancelAdminUser != null">
          cancelAdminUser = #{cancelAdminUser,jdbcType=INTEGER},
        </if>
        <if test="confirmAdminUser != null">
          confirmAdminUser = #{confirmAdminUser,jdbcType=INTEGER},
        </if>
        <if test="finishAdminUser != null">
          finishAdminUser = #{finishAdminUser,jdbcType=INTEGER},
        </if>
        <if test="updateTime != null">
          updateTime = #{updateTime,jdbcType=TIMESTAMP}
        </if>
    where acid = #{acid,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select acid, uniacid, userid, orderStatus, contactName, contactMobile, mileage, carTypeName,
    carNumber, appointmentTime, cancelType, createTime, confirmTime, finishTime, cancelAdminUser,
    confirmAdminUser, finishAdminUser, updateTime
    from lf_4s_appointment_order
    where acid = #{acid,jdbcType=INTEGER}
  </select>
    <select id="getOrderByUser" resultMap="BaseResultMap">
        select acid, uniacid, userid, orderStatus, contactName, contactMobile, mileage, carTypeName,
        carNumber, appointmentTime, cancelType, createTime, confirmTime, finishTime, cancelAdminUser,
        confirmAdminUser, finishAdminUser, updateTime
        from lf_4s_appointment_order
        where userid = #{userId}
        <if test="orderStatus != null">
            and orderStatus = #{orderStatus}
        </if>
        <if test="startTime != null">
            and createTime &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and createTime &lt;= #{endTime}
        </if>
  </select>
    <select id="getOrderByAdmin" resultMap="BaseResultMap">
        select acid, uniacid, userid, orderStatus, contactName, contactMobile, mileage, carTypeName,
        carNumber, appointmentTime, cancelType, createTime, confirmTime, finishTime, cancelAdminUser,
        confirmAdminUser, finishAdminUser, updateTime
        from lf_4s_appointment_order
        where uniacid = #{uniacid}
        <if test="orderStatus != null">
            and orderStatus = #{orderStatus}
        </if>
        <if test="startTime != null">
            and createTime &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and createTime &lt;= #{endTime}
        </if>
    </select>
</mapper>