<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.loftown.wechat.app.code.dao.lf.AppointmentOrderDTO">
    <resultMap id="BaseResultMap" type="cn.loftown.wechat.app.code.dto.lf.AppointmentOrderDTO">
        <id column="acid" jdbcType="INTEGER" property="acid" />
        <result column="uniacid" jdbcType="INTEGER" property="uniacid" />
        <result column="userid" jdbcType="INTEGER" property="userid" />
        <result column="orderStatus" jdbcType="SMALLINT" property="orderStatus" />
        <result column="contactName" jdbcType="VARCHAR" property="contactName" />
        <result column="contactMobile" jdbcType="VARCHAR" property="contactMobile" />
        <result column="mileage" jdbcType="INTEGER" property="mileage" />
        <result column="carTypeName" jdbcType="VARCHAR" property="carTypeName" />
        <result column="carNumber" jdbcType="VARCHAR" property="carNumber" />
        <result column="appointmentTime" jdbcType="TIMESTAMP" property="appointmentTime" />
        <result column="cancelType" jdbcType="SMALLINT" property="cancelType" />
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
        <result column="confirmTime" jdbcType="TIMESTAMP" property="confirmTime" />
        <result column="finishTime" jdbcType="TIMESTAMP" property="finishTime" />
        <result column="cancelAdminUser" jdbcType="INTEGER" property="cancelAdminUser" />
        <result column="confirmAdminUser" jdbcType="INTEGER" property="confirmAdminUser" />
        <result column="finishAdminUser" jdbcType="INTEGER" property="finishAdminUser" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lf_4s_appointment_order
    where acid = #{acid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.loftown.wechat.app.code.dto.lf.AppointmentOrderDTO">
    insert into lf_4s_appointment_order (acid, uniacid, userid,
      orderStatus, contactName, contactMobile,
      mileage, carTypeName, carNumber,
      appointmentTime, cancelType, createTime,
      confirmTime, finishTime, cancelAdminUser,
      confirmAdminUser, finishAdminUser, updateTime
      )
    values (#{acid,jdbcType=INTEGER}, #{uniacid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
      #{orderStatus,jdbcType=SMALLINT}, #{contactName,jdbcType=VARCHAR}, #{contactMobile,jdbcType=VARCHAR},
      #{mileage,jdbcType=INTEGER}, #{carTypeName,jdbcType=VARCHAR}, #{carNumber,jdbcType=VARCHAR},
      #{appointmentTime,jdbcType=TIMESTAMP}, #{cancelType,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP},
      #{confirmTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{cancelAdminUser,jdbcType=INTEGER},
      #{confirmAdminUser,jdbcType=INTEGER}, #{finishAdminUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.loftown.wechat.app.code.dto.lf.AppointmentOrderDTO">
    update lf_4s_appointment_order
    set uniacid = #{uniacid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      orderStatus = #{orderStatus,jdbcType=SMALLINT},
      contactName = #{contactName,jdbcType=VARCHAR},
      contactMobile = #{contactMobile,jdbcType=VARCHAR},
      mileage = #{mileage,jdbcType=INTEGER},
      carTypeName = #{carTypeName,jdbcType=VARCHAR},
      carNumber = #{carNumber,jdbcType=VARCHAR},
      appointmentTime = #{appointmentTime,jdbcType=TIMESTAMP},
      cancelType = #{cancelType,jdbcType=SMALLINT},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      confirmTime = #{confirmTime,jdbcType=TIMESTAMP},
      finishTime = #{finishTime,jdbcType=TIMESTAMP},
      cancelAdminUser = #{cancelAdminUser,jdbcType=INTEGER},
      confirmAdminUser = #{confirmAdminUser,jdbcType=INTEGER},
      finishAdminUser = #{finishAdminUser,jdbcType=INTEGER},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where acid = #{acid,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select acid, uniacid, userid, orderStatus, contactName, contactMobile, mileage, carTypeName,
    carNumber, appointmentTime, cancelType, createTime, confirmTime, finishTime, cancelAdminUser,
    confirmAdminUser, finishAdminUser, updateTime
    from lf_4s_appointment_order
    where acid = #{acid,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select acid, uniacid, userid, orderStatus, contactName, contactMobile, mileage, carTypeName,
    carNumber, appointmentTime, cancelType, createTime, confirmTime, finishTime, cancelAdminUser,
    confirmAdminUser, finishAdminUser, updateTime
    from lf_4s_appointment_order
  </select>
    <resultMap id="BaseResultMap" type="cn.loftown.wechat.app.code.dto.lf.AppointmentOrderDTO">
        <id column="acid" jdbcType="INTEGER" property="acid" />
        <result column="uniacid" jdbcType="INTEGER" property="uniacid" />
        <result column="userid" jdbcType="INTEGER" property="userid" />
        <result column="orderStatus" jdbcType="SMALLINT" property="orderstatus" />
        <result column="contactName" jdbcType="VARCHAR" property="contactname" />
        <result column="contactMobile" jdbcType="VARCHAR" property="contactmobile" />
        <result column="mileage" jdbcType="INTEGER" property="mileage" />
        <result column="carTypeName" jdbcType="VARCHAR" property="cartypename" />
        <result column="carNumber" jdbcType="VARCHAR" property="carnumber" />
        <result column="appointmentTime" jdbcType="TIMESTAMP" property="appointmenttime" />
        <result column="cancelType" jdbcType="SMALLINT" property="canceltype" />
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="confirmTime" jdbcType="TIMESTAMP" property="confirmtime" />
        <result column="finishTime" jdbcType="TIMESTAMP" property="finishtime" />
        <result column="cancelAdminUser" jdbcType="INTEGER" property="canceladminuser" />
        <result column="confirmAdminUser" jdbcType="INTEGER" property="confirmadminuser" />
        <result column="finishAdminUser" jdbcType="INTEGER" property="finishadminuser" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lf_4s_appointment_order
    where acid = #{acid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.loftown.wechat.app.code.dto.lf.AppointmentOrderDTO">
    insert into lf_4s_appointment_order (acid, uniacid, userid,
      orderStatus, contactName, contactMobile,
      mileage, carTypeName, carNumber,
      appointmentTime, cancelType, createTime,
      confirmTime, finishTime, cancelAdminUser,
      confirmAdminUser, finishAdminUser, updateTime
      )
    values (#{acid,jdbcType=INTEGER}, #{uniacid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
      #{orderstatus,jdbcType=SMALLINT}, #{contactname,jdbcType=VARCHAR}, #{contactmobile,jdbcType=VARCHAR},
      #{mileage,jdbcType=INTEGER}, #{cartypename,jdbcType=VARCHAR}, #{carnumber,jdbcType=VARCHAR},
      #{appointmenttime,jdbcType=TIMESTAMP}, #{canceltype,jdbcType=SMALLINT}, #{createtime,jdbcType=TIMESTAMP},
      #{confirmtime,jdbcType=TIMESTAMP}, #{finishtime,jdbcType=TIMESTAMP}, #{canceladminuser,jdbcType=INTEGER},
      #{confirmadminuser,jdbcType=INTEGER}, #{finishadminuser,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.loftown.wechat.app.code.dto.lf.AppointmentOrderDTO">
    update lf_4s_appointment_order
    set uniacid = #{uniacid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      orderStatus = #{orderstatus,jdbcType=SMALLINT},
      contactName = #{contactname,jdbcType=VARCHAR},
      contactMobile = #{contactmobile,jdbcType=VARCHAR},
      mileage = #{mileage,jdbcType=INTEGER},
      carTypeName = #{cartypename,jdbcType=VARCHAR},
      carNumber = #{carnumber,jdbcType=VARCHAR},
      appointmentTime = #{appointmenttime,jdbcType=TIMESTAMP},
      cancelType = #{canceltype,jdbcType=SMALLINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      confirmTime = #{confirmtime,jdbcType=TIMESTAMP},
      finishTime = #{finishtime,jdbcType=TIMESTAMP},
      cancelAdminUser = #{canceladminuser,jdbcType=INTEGER},
      confirmAdminUser = #{confirmadminuser,jdbcType=INTEGER},
      finishAdminUser = #{finishadminuser,jdbcType=INTEGER},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where acid = #{acid,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select acid, uniacid, userid, orderStatus, contactName, contactMobile, mileage, carTypeName,
    carNumber, appointmentTime, cancelType, createTime, confirmTime, finishTime, cancelAdminUser,
    confirmAdminUser, finishAdminUser, updateTime
    from lf_4s_appointment_order
    where acid = #{acid,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select acid, uniacid, userid, orderStatus, contactName, contactMobile, mileage, carTypeName,
    carNumber, appointmentTime, cancelType, createTime, confirmTime, finishTime, cancelAdminUser,
    confirmAdminUser, finishAdminUser, updateTime
    from lf_4s_appointment_order
  </select>
</mapper>