<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.loftown.wechat.app.code.dao.lf.CarTypeDao">
    <resultMap id="BaseResultMap" type="cn.loftown.wechat.app.code.dto.lf.CarTypeDTO">
        <id column="acid" jdbcType="INTEGER" property="acid" />
        <result column="uniacid" jdbcType="INTEGER" property="uniacid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="imageUrl" jdbcType="VARCHAR" property="imageUrl" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="typeId" jdbcType="SMALLINT" property="typeId" />
        <result column="orderId" jdbcType="INTEGER" property="orderId" />
        <result column="proposedPrice" jdbcType="DECIMAL" property="proposedPrice" />
        <result column="parentAcid" jdbcType="INTEGER" property="parentAcid" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="createUser" jdbcType="INTEGER" property="createUser" />
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lf_4s_car_type
    where acid = #{acid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.loftown.wechat.app.code.dto.lf.CarTypeDTO">
    insert into lf_4s_car_type (acid, uniacid, `name`,
      imageUrl, `status`, typeId,
      orderId, proposedPrice, parentAcid,
      updateTime, `createUser`, createTime
      )
    values (#{acid,jdbcType=INTEGER}, #{uniacid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{imageUrl,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{typeId,jdbcType=SMALLINT},
      #{orderId,jdbcType=INTEGER}, #{proposedPrice,jdbcType=DECIMAL}, #{parentAcid,jdbcType=INTEGER},
      #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.loftown.wechat.app.code.dto.lf.CarTypeDTO">
    update lf_4s_car_type
    set
        <if test="name != null">
          `name` = #{name,jdbcType=VARCHAR}
        </if>,
        <if test="imageUrl != null">
          imageUrl = #{imageUrl,jdbcType=VARCHAR},
        </if>
        <if test="status != null">
          `status` = #{status,jdbcType=SMALLINT},
        </if>
        <if test="orderId != null">
          orderId = #{orderId,jdbcType=INTEGER},
        </if>
        <if test="proposedPrice != null">
          proposedPrice = #{proposedPrice,jdbcType=DECIMAL},
        </if>
        <if test="parentAcid != null">
          parentAcid = #{parentAcid,jdbcType=INTEGER},
        </if>
        <if test="updateTime != null">
          updateTime = #{updateTime,jdbcType=TIMESTAMP}
        </if>
    where acid = #{acid,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select acid, uniacid, `name`, imageUrl, `status`, typeId, orderId, proposedPrice,
    parentAcid, updateTime, `createUser`, createTime
    from lf_4s_car_type
    where acid = #{acid,jdbcType=INTEGER}
  </select>
    <select id="getCarTypeByTypeId" resultMap="BaseResultMap">
    select acid, uniacid, `name`, imageUrl, `status`, typeId, orderId, proposedPrice,
    parentAcid, updateTime, `createUser`, createTime
    from lf_4s_car_type where uniacid = #{uniacid} and status = #{statusId}
        <if test="typeId != null">
            and typeId = #{typeId}
        </if>
    order by orderId desc
  </select>
    <select id="getCarTypeCount" resultType="java.lang.Integer">
        select count(1)
        from lf_4s_user_car where uniacid = #{uniacid} and status = #{statusId}
        <if test="typeId != null">
            and typeId = #{typeId}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
    </select>
</mapper>