<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.loftown.wechat.app.code.dao.lf.UserCarDao">
    <resultMap id="BaseResultMap" type="cn.loftown.wechat.app.code.dto.lf.UserCarDTO">
        <id column="acid" jdbcType="INTEGER" property="acid" />
        <result column="uniacid" jdbcType="INTEGER" property="uniacid" />
        <result column="userid" jdbcType="INTEGER" property="userid" />
        <result column="carTypeAcid" jdbcType="INTEGER" property="carTypeAcid" />
        <result column="carNumber" jdbcType="VARCHAR" property="carNumber" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lf_4s_user_car
    where acid = #{acid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.loftown.wechat.app.code.dto.lf.UserCarDTO">
    insert into lf_4s_user_car (acid, uniacid, userid,
      carTypeAcid, carNumber, `status`,
      updateTime, createTime)
    values (#{acid,jdbcType=INTEGER}, #{uniacid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
      #{carTypeAcid,jdbcType=INTEGER}, #{carNumber,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT},
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.loftown.wechat.app.code.dto.lf.UserCarDTO">
    update lf_4s_user_car
    set uniacid = #{uniacid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      carTypeAcid = #{carTypeAcid,jdbcType=INTEGER},
      carNumber = #{carNumber,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=SMALLINT},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where acid = #{acid,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select acid, uniacid, userid, carTypeAcid, carNumber, `status`, updateTime, createTime
    from lf_4s_user_car
    where acid = #{acid,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select acid, uniacid, userid, carTypeAcid, carNumber, `status`, updateTime, createTime
    from lf_4s_user_car
  </select>
    <resultMap id="BaseResultMap" type="cn.loftown.wechat.app.code.dto.lf.UserCarDTO">
        <id column="acid" jdbcType="INTEGER" property="acid" />
        <result column="uniacid" jdbcType="INTEGER" property="uniacid" />
        <result column="userid" jdbcType="INTEGER" property="userid" />
        <result column="carTypeAcid" jdbcType="INTEGER" property="cartypeacid" />
        <result column="carNumber" jdbcType="VARCHAR" property="carnumber" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lf_4s_user_car
    where acid = #{acid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.loftown.wechat.app.code.dto.lf.UserCarDTO">
    insert into lf_4s_user_car (acid, uniacid, userid,
      carTypeAcid, carNumber, `status`,
      updateTime, createTime)
    values (#{acid,jdbcType=INTEGER}, #{uniacid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
      #{cartypeacid,jdbcType=INTEGER}, #{carnumber,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT},
      #{updatetime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.loftown.wechat.app.code.dto.lf.UserCarDTO">
    update lf_4s_user_car
    set uniacid = #{uniacid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      carTypeAcid = #{cartypeacid,jdbcType=INTEGER},
      carNumber = #{carnumber,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=SMALLINT},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where acid = #{acid,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select acid, uniacid, userid, carTypeAcid, carNumber, `status`, updateTime, createTime
    from lf_4s_user_car
    where acid = #{acid,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select acid, uniacid, userid, carTypeAcid, carNumber, `status`, updateTime, createTime
    from lf_4s_user_car
  </select>
</mapper>