<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.loftown.wechat.app.code.dao.lf.WxappCodeSubmitDao">

    <sql id="BASE_TABLE">
        lf_wxapp_code_submit
    </sql>

    <sql id="BASE_COLUMN">
        acid, template_id, template_version, user_version, user_desc, wxapp_acid, wxapp_name, wx_commit_code, wx_commit_msg,
    `status`, wx_submit_code, wx_submit_msg, item_list, feedback_info, feedback_stuff,
    auditid, create_user, create_time, submit_user, submit_time, audit_user, audit_time,
    release_user, release_time, revert_user, revert_time, update_time
    </sql>

    <resultMap id="BaseResultMap" type="WxAppCodeSubmitDTO">
        <id column="acid" jdbcType="INTEGER" property="acid"/>
        <result column="template_id" jdbcType="INTEGER" property="templateId"/>
        <result column="template_version" jdbcType="INTEGER" property="templateVersion"/>
        <result column="user_version" jdbcType="VARCHAR" property="userVersion"/>
        <result column="user_desc" jdbcType="VARCHAR" property="userDesc"/>
        <result column="wxapp_acid" jdbcType="INTEGER" property="wxAppAcid"/>
        <result column="wxapp_name" jdbcType="INTEGER" property="wxAppName"/>
        <result column="wx_commit_code" jdbcType="VARCHAR" property="wxCommitCode"/>
        <result column="wx_commit_msg" jdbcType="VARCHAR" property="wxCommitMsg"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="wx_submit_code" jdbcType="VARCHAR" property="wxSubmitCode"/>
        <result column="wx_submit_msg" jdbcType="VARCHAR" property="wxSubmitMsg"/>
        <result column="item_list" jdbcType="VARCHAR" property="itemList"/>
        <result column="feedback_info" jdbcType="VARCHAR" property="feedbackInfo"/>
        <result column="feedback_stuff" jdbcType="VARCHAR" property="feedbackStuff"/>
        <result column="auditid" jdbcType="INTEGER" property="auditId"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="submit_user" jdbcType="INTEGER" property="submitUser"/>
        <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime"/>
        <result column="audit_user" jdbcType="INTEGER" property="auditUser"/>
        <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime"/>
        <result column="release_user" jdbcType="INTEGER" property="releaseUser"/>
        <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime"/>
        <result column="revert_user" jdbcType="INTEGER" property="revertUser"/>
        <result column="revert_time" jdbcType="TIMESTAMP" property="revertTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from
        <include refid="BASE_TABLE"/>
        where acid = #{acid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="WxAppCodeSubmitDTO" useGeneratedKeys="true" keyProperty="acid" keyColumn="acid">
        insert into
        <include refid="BASE_TABLE"/>(
        template_id,
        template_version,
        user_version,
        user_desc,
        wxapp_acid,
        wxapp_name,
        wx_commit_code,
        wx_commit_msg,
        `status`,
        wx_submit_code,
        wx_submit_msg,
        item_list,
        feedback_info,
        feedback_stuff,
        auditid,
        create_user,
        create_time,
        submit_user,
        submit_time,
        audit_user,
        audit_time,
        release_user,
        release_time,
        revert_user,
        revert_time,
        update_time
        )
        values (
        #{templateId,jdbcType=INTEGER},
        #{templateVersion,jdbcType=VARCHAR},
        #{userVersion,jdbcType=VARCHAR},
        #{userDesc,jdbcType=VARCHAR},
        #{wxAppAcid,jdbcType=INTEGER},
        #{wxAppName,jdbcType=VARCHAR},
        #{wxCommitCode,jdbcType=VARCHAR},
        #{wxCommitMsg,jdbcType=VARCHAR},
        #{status,jdbcType=SMALLINT},
        #{wxSubmitCode,jdbcType=VARCHAR},
        #{wxSubmitMsg,jdbcType=VARCHAR},
        #{itemList,jdbcType=VARCHAR},
        #{feedbackInfo,jdbcType=VARCHAR},
        #{feedbackStuff,jdbcType=VARCHAR},
        #{auditId,jdbcType=INTEGER},
        #{createUser,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{submitUser,jdbcType=INTEGER},
        #{submitTime,jdbcType=TIMESTAMP},
        #{auditUser,jdbcType=INTEGER},
        #{auditTime,jdbcType=TIMESTAMP},
        #{releaseUser,jdbcType=INTEGER},
        #{releaseTime,jdbcType=TIMESTAMP},
        #{revertUser,jdbcType=INTEGER},
        #{revertTime,jdbcType=TIMESTAMP},
        now()
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="WxAppCodeSubmitDTO">
        update
        <include refid="BASE_TABLE"/>
        set
        <if test="templateId != null">
            template_id = #{templateId,jdbcType=INTEGER},
        </if>
        <if test="userVersion != null">
            user_version = #{userVersion,jdbcType=VARCHAR},
        </if>
        <if test="userDesc != null">
            user_desc = #{userDesc,jdbcType=VARCHAR},
        </if>
        <if test="wxAppAcid != null">
            wxapp_acid = #{wxAppAcid,jdbcType=INTEGER},
        </if>
        <if test="wxCommitCode != null">
            wx_commit_code = #{wxCommitCode,jdbcType=VARCHAR},
        </if>
        <if test="wxCommitMsg != null">
            wx_commit_msg = #{wxCommitMsg,jdbcType=VARCHAR},
        </if>
        <if test="status != null">
            `status` = #{status,jdbcType=SMALLINT},
        </if>
        <if test="wxSubmitCode != null">
            wx_submit_code = #{wxSubmitCode,jdbcType=VARCHAR},
        </if>
        <if test="wxSubmitMsg != null">
            wx_submit_msg = #{wxSubmitMsg,jdbcType=VARCHAR},
        </if>
        <if test="itemList != null">
            item_list = #{itemList,jdbcType=VARCHAR},
        </if>
        <if test="feedbackInfo != null">
            feedback_info = #{feedbackInfo,jdbcType=VARCHAR},
        </if>
        <if test="feedbackStuff != null">
            feedback_stuff = #{feedbackStuff,jdbcType=VARCHAR},
        </if>
        <if test="auditId != null">
            auditid = #{auditId,jdbcType=INTEGER},
        </if>
        <if test="submitUser != null">
            submit_user = #{submitUser,jdbcType=INTEGER},
        </if>
        <if test="submitTime != null">
            submit_time = #{submitTime,jdbcType=TIMESTAMP},
        </if>
        <if test="auditUser != null">
            audit_user = #{auditUser,jdbcType=INTEGER},
        </if>
        <if test="auditTime != null">
            audit_time = #{auditTime,jdbcType=TIMESTAMP},
        </if>
        <if test="releaseUser != null">
            release_user = #{releaseUser,jdbcType=INTEGER},
        </if>
        <if test="releaseTime != null">
            release_time = #{releaseTime,jdbcType=TIMESTAMP},
        </if>
        <if test="revertUser != null">
            revert_user = #{revertUser,jdbcType=INTEGER},
        </if>
        <if test="revertTime != null">
            revert_time = #{revertTime,jdbcType=TIMESTAMP},
        </if>
        update_time = now()
        where acid = #{acid,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="BASE_COLUMN"/>
        from
        <include refid="BASE_TABLE"/>
        where acid = #{acid,jdbcType=INTEGER}
    </select>
    <select id="selectByWxApp" resultMap="BaseResultMap">
        select
        <include refid="BASE_COLUMN"/>
        from
        <include refid="BASE_TABLE"/>
        where 1=1
        <if test="startTime != null">
            AND create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND create_time &lt;= #{endTime}
        </if>
        <if test="wxAppAcId != null">
            AND wxapp_acid = #{wxAppAcId}
        </if>
        <if test="statusList != null and statusList.size() > 0">
            AND status IN
            <foreach collection="statusList" index="index" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
        order by create_time desc
    </select>

    <select id="selectByItemList" resultMap="BaseResultMap">
        select
        <include refid="BASE_COLUMN"/>
        from
        <include refid="BASE_TABLE"/>
        where wxapp_acid = #{wxAppAcId} and `status` in(5,6,7,8) and item_list is not null ORDER BY create_time desc limit 1
    </select>

    <select id="selectByWxAppCount" resultType="int">
        select
            count(1)
        from
        <include refid="BASE_TABLE"/>
        where 1=1
        <if test="startTime != null">
            AND create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND create_time &lt;= #{endTime}
        </if>
        <if test="wxAppAcId != null">
            AND wxapp_acid = #{wxAppAcId}
        </if>
        <if test="statusList != null and statusList.size() > 0">
            AND status IN
            <foreach collection="statusList" index="index" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
    </select>
</mapper>